@font-face {font-family: Liberation Serif; src: url(LiberationSerif.woff);}
@font-face {font-family: Liberation Serif Bold; src: url(LiberationSerif-Bold.woff);}
@font-face {font-family: Liberation Serif Italic; src: url(LiberationSerif-Italic.woff);}
@font-face {font-family: Liberation Serif Bold Italic; src: url(LiberationSerif-BoldItalic.woff);}

body {font-family: Liberation Serif, Tahoma, Arial, Helvetica, Sans-Serif; background-color: black; color:white;}

.entriescolumn {width:735px; padding:0px 80px 0px 80px; text-align:center; font-size: 180%;}
.entry {background-color:#0C0C0C; border:2px solid #AAAAAA; border-radius:20px; padding:18px 10px 18px 10px;}
.entryimagecontainer1 {width:450px;background-color:white; border-radius:10px; padding:7px;}
.entryimagecontainer2 {width:450px;background-color:black; border:1px solid #AAAAAA; border-radius:10px; padding:7px;}
.entryimagecontainer3 {width:450px;background-color:white; border:1px solid #AAAAAA; border-radius:10px; padding:7px;}
.entryimagecontainer4 {width:450px;background-color:black; border:2px solid #AAAAAA; border-radius:10px; padding:8px;}
.entryimage {width:450px; vertical-align:top;}
.noimage {width:0px;}
.entrytext {padding:12px 0px 0px 0px;}

a:link {color:#CF0000; text-decoration: none;}
a:link:hover {text-decoration:underline}
a:visited {color:#CF0000;}

.titlelink {font-size:120%}
.inlinelink {font-size:100%}
.title {font-size:250%;}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border:0px;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index:5;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 30px auto;
  padding: 20px;
  background: #181818;
  border:2px solid #AAAAAA;
  border-radius: 20px;
  width: 430px;
  position: relative;
  transition: all 0s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  background-color:#181818;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.popup .close:hover {
  color: #AA0000;
}

.popup .secret {
  position: absolute;
  top: 20px;
  left: 30px;
  background-color:#181818;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #181818;
}
.popup .secret:hover {
  color: #EE00AA;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
