
<!DOCTYPE html><html>

<head>
  <title>Title goes here</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="shortcut icon" href="favicon.ico">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-62276892-2', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body><center>

  <table>

    <tr><td colspan="6"><center><br>
      <a href="#popup1"><img src="http://jdgmiles.github.io/questionmark.png" style="width:60px"></a>
      <a href="https://twitter.com/JDGMiles/" target="_blank"><img src="http://jdgmiles.github.io/twitter.png" style="width:60px"></a>
      <a href="http://JDGM.org/" target="_blank"><img src="http://jdgmiles.github.io/jdgm.png" style="width:60px"></a></center>
    </td></tr>

  </table>

  <div id="popup1" class="overlay">
    <div class="popup">
      <div style="font-family:Georgia; color:white; text-align:center; font-size:100%; border:0px;"></div>
      <a class="close" href="#">&times;</a>
      <p style="font-family:Georgia; font-size:100%; color:white; text-align:justify;"><br>Click the &ldquo;T&rdquo; or &ldquo;F&rdquo; to mark a question true or false. It will become coloured to show the choice that has been made.<br><br>&ldquo;Submit&rdquo; submits, &ldquo;Clear&rdquo; clears.<br><br>Straightforward!</p>
    </div>
  </div>

</center></body>
</html>

<script type="text/javascript">
</script>
