@font-face {font-family: Liberation Serif; src: url(http://jdgmiles.github.io/LiberationSerif.woff);}

button, body, a, textarea, input {color: white; background-color:#000000; font-family: Liberation Serif, Tahoma, Arial, Helvetica, Sans-Serif;}
button {padding:0px; font-size:160%;}
a, input {text-align:center; font-size:160%;}
.topboxes{padding:10px;10px;10px;10px; text-align:left; height:420px; width:482px; font-size:158%; overflow:auto;}
.colourbutton{width:222px}
.bookbutton{width:237px}
div {border:1px solid white}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border:0px;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index:5;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 180px auto;
  padding: 20px;
  background: #181818;
  border:2px solid #AAAAAA;
  border-radius: 20px;
  width: 500px;
  position: relative;
  transition: all 0s ease-in-out;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  background-color:#181818;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
